<template>
    <div class="row ta-center">
        <div class="col-lg-2 col-sm-3 col-md-4 resultcard" v-for="result in liveResults">
            <card type="chart" class="nav-card">
                <template slot="header">
                    <h4 class="card-title">{{ result.USD.FROMSYMBOL }} </h4>
                    <h3>${{ result.USD.PRICE }}</h3>
                    <p :class="[result.USD.CHANGEPCT24HOUR < 0 ? 'neg-change': 'pos-change']">
                        {{ (result.USD.CHANGEPCT24HOUR).toFixed(2) }}%
                    </p>
                </template>
            </card>
        </div>
    </div>
</template>

<script>
    import Card from '@/components/Cards/Card';
    import axios from 'axios';

    export default {
        name: "CryptoCard",
        data() {
            return {
                liveResults: []
            };
        },
        components: {
            Card
        },
        created() {
            axios.get("https://min-api.cryptocompare.com/data/pricemultifull?fsyms=BTC,ETH,XRP,LTC,EOS,ZEC&tsyms=USD&api_key=e3cb54cfc405795d9ec83411c38be1520ad5827888b4501cb501c9307681608e")
                .then(res => {
                    this.liveResults = res.data.RAW;
                    console.log("res:",this.liveResults);
                })
                .catch(err => {
                    console.log(error)
                    this.errors.push(e)
                })
                .finally(() => this.loading = false)
        }
    }
</script>

<style scoped>

    .nav-card {
        background-color: #3B3E5C;
    }

    .ta-center{
        text-align: center;
    }

    @media only screen and (min-width :769px) and (max-width: 1025px) {
        .resultcard{
            flex: 0 0 33.33%;
            max-width: 33.33%;
        }
    }

</style>