<template>
  <base-table
              :columns="this.usersTable.columns"
              thead-classes="text-primary">
  </base-table>
</template>
<script>
  import { BaseTable } from "@/components";
  import axios from 'axios'
  export default {
      data() {
          return {
              tableData: [],
              usersTable: {
                  title: "Simple Table",
                  columns: [
                      "Coin",
                      "Price",
                      "Direct Vol. 24H ",
                      "Total Vol. 24H ",
                      "Mkt. Cap.",
                      "Chg. 24H"
                  ],
                  data: [
                      {
                          id: "",
                          Coin: "",
                          Price: "",
                          Direct_Vol: "",
                          Total_Vol: "",
                          Mkt_Cap: "",
                          Chg_24H: ""
                      }
                  ]
              },
          }
      },
    components: {
      BaseTable
    },
    // computed: {
    //   table(){
    //     return this.$t('dashboard.usersTable');
    //   }
    // },
      created() {
          axios.get("https://min-api.cryptocompare.com/data/top/mktcapfull?limit=10&tsym=USD&api_key=e3cb54cfc405795d9ec83411c38be1520ad5827888b4501cb501c9307681608e")
              .then(res => {
                  this.tableData = res.data.Data[0];
                  console.log("res table:",this.tableData);
              })
              // .then(()=>{
              //     this.tableData.map((data, key) => {
              //         this.usersTable.data.id = key+1;
              //         this.usersTable.data.Coin = data.CoinInfo.FullName;
              //         this.usersTable.data.Price = data.DISPLAY.USD.PRICE;
              //         this.usersTable.data.Direct_Vol = "$"+data.RAW.USD.VOLUME24HOUR;
              //         this.usersTable.data.Total_Vol = "$"+data.RAW.USD.TOTALVOLUME24H;
              //         this.usersTable.data.Mkt_Cap = "$"+data.RAW.USD.MKTCAP;
              //         this.usersTable.data.Chg_24H = data.RAW.USD.CHANGE24HOUR+"%";
              //     });
              //     console.log("tabledata:",)
              // })
              .catch(err => {
                  console.log(error)
                  this.errors.push(e)
              })
              .finally(() => this.loading = false)
      }
  }
</script>
<style>
</style>
