<template>
  <footer class="footer">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="http://www.aswinvarghese.com">
            Aswin Varghese
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://av-portfolio.surge.sh">
            Portfolio
          </a>
        </li>
      </ul>
      <div class="copyright">
        © {{year}} made with <i class="tim-icons icon-heart-2"></i> by
        <a href="http://www.aswinvarghese.com" target="_blank" rel="noopener">Aswin Varghese</a>&nbsp;Using
        <a href="https://www.creative-tim.com" target="_blank" rel="noopener">Creative Tim</a> Template.
      </div>
    </div>
  </footer>
</template>
<script>
  export default {
    data() {
      return {
        year: new Date().getFullYear()
      }
    }
  };
</script>
<style>
</style>
