<template>
    <div class="row">
        <div class="font-icon-list col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="font-icon-detail" v-for="(news, index) in newsData" :key="index">
                    <h4>{{news.title}}</h4>
                    <span>Category: {{news.categories}}<br/>Source: {{news.source_info.name}}</span>
                    <p>{{news.body}}</p>
                    <div style="text-align:right;">Published : {{ moment((news.published_on)*1000).calendar() }}<br/><a :href="news.url">View Source</a></div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import moment from 'moment'

    export default {
        name: "CryptoNews",
        data(){
            return{
               newsData:[],
                show: true
            }
        },
        methods: {
            moment(...args) {
                return moment(...args);
            }
        },
        created() {
            axios.get("https://min-api.cryptocompare.com/data/v2/news/?lang=EN&api_key=e3cb54cfc405795d9ec83411c38be1520ad5827888b4501cb501c9307681608e")
                .then(res => {
                    this.newsData = res.data.Data;
                    console.log("news:",this.newsData)
                })
        }
    }
</script>

<style scoped>
    .font-icon-detail{
        padding: 2%;
        text-align: left;
    }

    .font-icon-detail p {
        padding-left: 0;
        font-size: 1em;
    }


</style>