<template>
    <table class="table tablesorter" :class="tableClass">
        <thead class="text-primary">
        <tr>
            <slot name="columns">
                <th v-for="column in columns" :key="column">{{column}}</th>
            </slot>
        </tr>
        </thead>
        <tbody :class="tbodyClasses">
        <tr v-for="(item, index) in data" :key="index">
            <slot :row="item">
                <td>{{item.CoinInfo.FullName}}</td>
                <td>{{item.DISPLAY.USD.PRICE}}</td>
                <td>{{"$ "+item.RAW.USD.VOLUME24HOUR.toFixed(2)}}</td>
                <td>{{"$ "+item.RAW.USD.TOTALVOLUME24H.toFixed(2)}}</td>
                <td>{{"$ "+item.RAW.USD.MKTCAP.toFixed(2)}}</td>
                <td :class="[item.RAW.USD.CHANGE24HOUR < 0 ? 'neg-change': 'pos-change']">
                    {{item.RAW.USD.CHANGE24HOUR.toFixed(2)+" %"}}
                </td>
            </slot>
        </tr>
        </tbody>
    </table>
</template>

<script>
    import axios from 'axios'

    export default {
        name: "CryptoList",
        data(){
            return{
                data: [],
                columns: [
                    "Coin",
                    "Price",
                    "Direct Vol. 24H ",
                    "Total Vol. 24H ",
                    "Mkt. Cap.",
                    "Chg. 24H"
                ],
            }
        },
        created() {
            axios.get("https://min-api.cryptocompare.com/data/top/mktcapfull?limit=100&tsym=USD&api_key=e3cb54cfc405795d9ec83411c38be1520ad5827888b4501cb501c9307681608e")
                .then(res => {
                    this.data = res.data.Data;
                })
        }
    }
</script>

<style scoped>



</style>