<template>
  <div>
    <div class="row">
      <div class="col-lg-12 col-sm-3 col-md-12">
        <card class="card" :header-classes="{'text-right': isRTL}">
          <h4 slot="header" class="card-title">{{$t('dashboard.simpleTable')}}</h4>
          <div class="table-responsive">
            <crypto-card></crypto-card>
          </div>
        </card>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-3 col-md-3 infocard">
        <card type="chart">
          <template slot="header">
            <div class="row">
              <div class="col-lg-4 icon-style">
                <i class="tim-icons icon-trophy text-info "></i>
              </div>
              <div class="col-lg-8">
                <h5 class="card-category">{{$t('dashboard.topPerformer')}}</h5>
                <h3 class="card-title">{{dashResults.CoinInfo.FullName}}</h3>
              </div>
            </div>
          </template>
        </card>
      </div>
      <div class="col-lg-3 col-sm-3 col-md-3 infocard">
        <card type="chart">
          <template slot="header">
            <div class="row">
              <div class="col-lg-4 icon-style">
                <i class="tim-icons icon-money-coins text-info "></i>
              </div>
              <div class="col-lg-8">
                <h5 class="card-category">{{$t('dashboard.totalCapital')}}</h5>
                <h3 class="card-title">{{dashResults.DISPLAY.USD.MKTCAP}}</h3>
              </div>
            </div>
          </template>
        </card>
      </div>
      <div class="col-lg-3 col-sm-3 col-md-3 infocard">
        <card type="chart">
          <template slot="header">
            <div class="row">
              <div class="col-lg-4 icon-style">
                <i class="tim-icons icon-wallet-43 text-info "></i>
              </div>
              <div class="col-lg-8">
                <h5 class="card-category">{{$t('dashboard.priceUSD')}}</h5>
                <h3 class="card-title">{{dashResults.DISPLAY.USD.PRICE}}</h3>
              </div>
            </div>
          </template>
        </card>
      </div>
      <div class="col-lg-3 col-sm-3 col-md-3 infocard">
        <card type="chart">
          <template slot="header">
            <div class="row">
              <div class="col-lg-4 icon-style">
                <i class="tim-icons icon-laptop text-info "></i>
              </div>
              <div class="col-lg-8">
                <h5 class="card-category">{{$t('dashboard.algorithmUsed')}}</h5>
                <h3 class="card-title">{{dashResults.CoinInfo.Algorithm}}</h3>
              </div>
            </div>
          </template>
        </card>
      </div>
      <div class="col-12">
        <card type="chart">
          <template slot="header">
            <div class="row">
              <div class="col-sm-6" :class="isRTL ? 'text-right' : 'text-left'">
                <h5 class="card-category">{{$t('dashboard.overallPerformance')}}</h5>
                <h2 class="card-title">{{$t('dashboard.performance')}}</h2>
              </div>
              <div class="col-sm-6">
                <div class="btn-group btn-group-toggle"
                     :class="isRTL ? 'float-left' : 'float-right'"
                     data-toggle="buttons">
                  <label v-for="(option, index) in bigLineChartCategories"
                         :key="option"
                         class="btn btn-sm btn-primary btn-simple"
                         :class="{active: bigLineChart.activeIndex === index}"
                         :id="index">
                    <input type="radio"
                           @click="initBigChart(index,option)"
                           name="options" autocomplete="off"
                           :checked="bigLineChart.activeIndex === index">
                    {{option}}
                  </label>
                </div>
              </div>
            </div>
          </template>
          <div class="chart-area">
            <line-chart style="height: 100%"
                        ref="bigChart"
                        chart-id="big-line-chart"
                        :chart-data="bigLineChart.chartData"
                        :gradient-colors="bigLineChart.gradientColors"
                        :gradient-stops="bigLineChart.gradientStops"
                        :extra-options="bigLineChart.extraOptions">
            </line-chart>
          </div>
        </card>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <card class="card" :header-classes="{'text-right': isRTL}">
          <h4 slot="header" class="card-title">{{$t('dashboard.valuTable')}}</h4>
          <div class="table-responsive">
            <dash-table></dash-table>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
  import LineChart from '@/components/Charts/LineChart';
  import BarChart from '@/components/Charts/BarChart';
  import * as chartConfigs from '@/components/Charts/config';
  import TaskList from './Dashboard/TaskList';
  import UserTable from './Dashboard/UserTable';
  import DashTable from './Dashboard/DashTable';
  import CryptoCard from './Dashboard/CryptoCard';
  import StatsCard from '@/components/Cards/StatsCard';
  import config from '@/config';
  import axios from 'axios';
  import moment from 'moment';

  export default {
    components: {
        CryptoCard,
      LineChart,
      BarChart,
      TaskList,
      UserTable,
        StatsCard,
        DashTable
    },
    data() {
      return {
          data:[],
          fetchingData: false,
          trendData: [],
          dashResults:[],
          bluechartData:[],
          loading: true,
        bigLineChart: {
          allData: [
            [0,0,0,0,0,0,0,0,0,0,0,0],
              [0,0,0,0,0,0,0,0,0,0,0,0],
            [0,0,0,0,0,0,0,0,0,0,0,0]
          ],
          activeIndex: 0,
          chartData: null,
          extraOptions: chartConfigs.purpleChartOptions,
          gradientColors: config.colors.primaryGradient,
          gradientStops: [1, 0.4, 0],
          categories: []
        },
        purpleLineChart: {
          extraOptions: chartConfigs.purpleChartOptions,
          chartData: {
            labels: ['JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'],
            datasets: [{
              label: "Data",
              fill: true,
              borderColor: config.colors.primary,
              borderWidth: 2,
              borderDash: [],
              borderDashOffset: 0.0,
              pointBackgroundColor: config.colors.primary,
              pointBorderColor: 'rgba(255,255,255,0)',
              pointHoverBackgroundColor: config.colors.primary,
              pointBorderWidth: 20,
              pointHoverRadius: 4,
              pointHoverBorderWidth: 15,
              pointRadius: 4,
              data: [80, 100, 70, 80, 120, 80],
            }]
          },
          gradientColors: config.colors.primaryGradient,
          gradientStops: [1, 0.2, 0],
        },
        greenLineChart: {
          extraOptions: chartConfigs.greenChartOptions,
          chartData: {
            labels: ['JUL', 'AUG', 'SEP', 'OCT', 'NOV'],
            datasets: [{
              label: "My First dataset",
              fill: true,
              borderColor: config.colors.danger,
              borderWidth: 2,
              borderDash: [],
              borderDashOffset: 0.0,
              pointBackgroundColor: config.colors.danger,
              pointBorderColor: 'rgba(255,255,255,0)',
              pointHoverBackgroundColor: config.colors.danger,
              pointBorderWidth: 20,
              pointHoverRadius: 4,
              pointHoverBorderWidth: 15,
              pointRadius: 4,
              data: [90, 27, 60, 12, 80],
            }]
          },
          gradientColors: ['rgba(66,134,121,0.15)', 'rgba(66,134,121,0.0)', 'rgba(66,134,121,0)'],
          gradientStops: [1, 0.4, 0],
        },
        blueBarChart: {
          extraOptions: chartConfigs.barChartOptions,
          chartData: {
            labels: [],
            datasets: [{
              label: "Countries",
              fill: true,
              borderColor: config.colors.info,
              borderWidth: 2,
              borderDash: [],
              borderDashOffset: 0.0,
              data: [],
            }]
          },
          gradientColors: config.colors.primaryGradient,
          gradientStops: [1, 0.4, 0],
        }
      }
    },
    computed: {
      enableRTL() {
        return this.$route.query.enableRTL;
      },
      isRTL() {
        return this.$rtl.isRTL;
      },
      bigLineChartCategories() {
        return this.$t('dashboard.chartCategories');
      }
    },
    methods: {
      initBigChart(index, option) {
          console.log("option:",option);
          axios.get(`https://min-api.cryptocompare.com/data/histoday?fsym=${option}&tsym=USD&limit=11&api_key=e3cb54cfc405795d9ec83411c38be1520ad5827888b4501cb501c9307681608e`)
              .then(res => {
                  this.trendData = res.data.Data;
              })
              .then(() => {
                  this.trendData.map((trend, key) => {
                      this.bigLineChart.allData[index][key] = (trend.close - trend.open).toFixed(2);
                  });
              });
        let chartData = {
          datasets: [{
            fill: true,
            borderColor: config.colors.primary,
            borderWidth: 2,
            borderDash: [],
            borderDashOffset: 0.0,
            pointBackgroundColor: config.colors.primary,
            pointBorderColor: 'rgba(255,255,255,0)',
            pointHoverBackgroundColor: config.colors.primary,
            pointBorderWidth: 20,
            pointHoverRadius: 4,
            pointHoverBorderWidth: 15,
            pointRadius: 4,
            data: this.bigLineChart.allData[index]
          }],
          labels: [],
        };
        this.$refs.bigChart.updateGradients(chartData);
        this.bigLineChart.chartData = chartData;
        for(let i=0; i<12; i++ ){
            this.bigLineChart.chartData.labels[i] = moment((this.trendData[i].time)*1000).format('L');
        }
        this.bigLineChart.activeIndex = index;
      },
        initBluechart (){
            axios.get("https://min-api.cryptocompare.com/data/top/mktcapfull?limit=10&tsym=USD&api_key=e3cb54cfc405795d9ec83411c38be1520ad5827888b4501cb501c9307681608e")
                .then(res=> {
                    this.bluechartData = res.data.Data;
                    this.bluechartData.map((result, key) => {
                        this.blueBarChart.chartData.datasets.data[key] = (result.RAW.USD.PRICE).toFixed(2);
                    })
                })
                .then(()=>{
                    for(let i=0; i<12; i++ ){
                        this.blueBarChart.chartData.labels[i] = this.bluechartData[i].CoinInfo.Name;
                    }
                })
                .catch(err => {
                    console.log(error);
                    this.errors.push(e)
                })
                .finally(() => this.loading = false);
        }
    },
    created() {
        axios.get("https://min-api.cryptocompare.com/data/top/mktcapfull?limit=10&tsym=USD&api_key=e3cb54cfc405795d9ec83411c38be1520ad5827888b4501cb501c9307681608e")
            .then(res => {
                this.dashResults = res.data.Data[0];
            })
            .catch(err => {
                console.log(error)
                this.errors.push(e)
            })
            .finally(() => this.loading = false)
    },
    mounted() {
      this.i18n = this.$i18n;
      if (this.enableRTL) {
        this.i18n.locale = 'ar';
        this.$rtl.enableRTL();
      }
      this.initBigChart(0);
      console.log("Data is",this.data);
    },
    beforeDestroy() {
      if (this.$rtl.isRTL) {
        this.i18n.locale = 'en';
        this.$rtl.disableRTL();
      }
    }
  };
</script>

<style scoped>

  .table-responsive{
    overflow: hidden !important;
  }

  @media only screen and (min-width :769px) and (max-width: 1025px) {
    .infocard{
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

</style>
