<template>
  <div class="card">
    <div class="card-header">
      <h3 class="title">Crypto Currency News</h3>

    </div>
    <div class="card-body all-icons">
      <!--<div class="row">-->
        <!--<div class="font-icon-list col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
          <!--<div class="font-icon-detail">-->
            <!--&lt;!&ndash;<i class="tim-icons icon-alert-circle-exc"></i>&ndash;&gt;-->
            <!--&lt;!&ndash;<p>icon-alert-circle-exc</p>&ndash;&gt;-->
            <crypto-news></crypto-news>
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</template>
<script>
  import CryptoNews from './CryptoNews'
  export default {
      components: {
          CryptoNews
      },
  };
</script>
<style>
</style>
