<template>
  <div class="row">
    <div class="col-md-8">
      <edit-profile-form :model="model">
      </edit-profile-form>
    </div>
    <div class="col-md-4">
      <user-card :user="user"></user-card>
    </div>
  </div>
</template>
<script>
  import EditProfileForm from './Profile/EditProfileForm';
  import UserCard from './Profile/UserCard'
  export default {
    components: {
      EditProfileForm,
      UserCard
    },
    data() {
      return {
        model: {
          company: 'TRIO Events.',
          email: 'aswin@trio.co.in',
          username: 'aswinv94',
          firstName: 'Aswin',
          lastName: 'Varghese',
          address: 'Chettiamparambil House',
          city: 'Kottayam',
          country: 'India',
          about: 'Dataphile and Tech Enthusiast.'
        },
        user: {
          fullName: 'Aswin Varghese',
          title: 'CEO/Co-Founder',
          description: `Data Analyst/Visualizer and UI Developer`,
        }
      }
    }
  }
</script>
<style>
</style>
