<template>
        <card>
            <h5 slot="header" class="title">Signup</h5>
            <!--<div class="row">-->
                <!--<div class="col-md-6">-->
                    <!--<base-input label="First Name"-->
                                <!--v-model="firstName"-->
                                <!--placeholder="First Name">-->
                    <!--</base-input>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                    <!--<base-input label="Last Name"-->
                                <!--v-model="lastName"-->
                                <!--placeholder="Last Name">-->
                    <!--</base-input>-->
                <!--</div>-->
            <!--</div>-->
            <div class="row">
                <div class="col-md-12">
                    <base-input label="Email address"
                                type="email"
                                v-model="email">
                    </base-input>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-12">
                        <base-input label="Password"
                                    type="password"
                                    v-model="password">
                        </base-input>
                    </div>
                </div>
            <div class="row button">
                <div class="col-md-12">
                    <base-button @click="signUp" slot="footer" type="primary" fill>Signup</base-button>
                </div>
                <div class="col-md-12">
                    Already have an account? <router-link to="/signin">Sign-In</router-link>
                </div>
            </div>
        </card>
</template>

<script>
    import firebase from 'firebase'
    export default {
        name: "Signup",
        data() {
            return {
                    // firstName:'',
                    // lastName:'',
                    email:'',
                    password:''
            }
        },
        methods:{
            signUp: function () {
                firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
                    .then(() => this.$router.push(this.$route.query.redirect || '/dashboard'))
                    .catch(err=>{
                        console.log("Error:",err.message)
                    })
            }
        }
    }
</script>

<style scoped>
    .card {
        width: 50%;
        padding: 2%;
        left: 25%;
        margin-top: 10%;
    }
    .card h5{
        text-align: center;
    }
    .button, .button > span{
        text-align: center;
    }

    @media screen and (max-width: 426px)  {
        .card {
            width: 80%;
            padding: 2%;
            left: 10%;
            margin-top: 10%;
        }
    }
</style>