<template>
    <div class="row">
      <div class="col-12">
        <card :title="table.title">
          <crypto-list></crypto-list>
        </card>
      </div>
    </div>
</template>
<script>
import CryptoList from './CryptoList'

export default {
  components: {
      CryptoList
  },
  data() {
    return {
      table: {
        title: "Top 100 Crypto List"
      }
    };
  }
};
</script>
<style scoped>

</style>
