<template>
  <table class="table tablesorter" :class="tableClass">
    <thead :class="theadClasses">
    <tr>
      <slot name="columns">
        <th v-for="column in columns" :key="column">{{column}}</th>
      </slot>
    </tr>
    </thead>
    <tbody :class="tbodyClasses">
    <tr v-for="(item, index) in data" :key="index">
      <slot :row="item">
        <td v-for="(column, index) in columns"
            :key="index"
            v-if="hasValue(item, column)"
        >
          {{itemValue(item, column)}}
        </td>
      </slot>
    </tr>
    </tbody>
  </table>
</template>
<script>
  import axios from 'axios'
  export default {
    name: 'base-table',
      data() {
          return {
             resdata :[],
              data:[]
          }
      },
    props: {
      columns: {
        type: Array,
        default: () => [],
        description: "Table columns"
      },
      // data: {
      //   type: Array,
      //   default: () => [],
      //   description: "Table data"
      // },
      type: {
        type: String, // striped | hover
        default: "",
        description: "Whether table is striped or hover type"
      },
      theadClasses: {
        type: String,
        default: '',
        description: "<thead> css classes"
      },
      tbodyClasses: {
        type: String,
        default: '',
        description: "<tbody> css classes"
      }
    },
    computed: {
      tableClass() {
        return this.type && `table-${this.type}`;
      }
    },
    methods: {
      hasValue(item, column) {
        return item[column.toLowerCase()] !== "undefined";
      },
      itemValue(item, column) {
        return item[column.toLowerCase()];
      }
    },
      created() {
          axios.get("https://min-api.cryptocompare.com/data/top/mktcapfull?limit=10&tsym=USD&api_key=e3cb54cfc405795d9ec83411c38be1520ad5827888b4501cb501c9307681608e")
              .then(res => {
                  this.resdata = res.data.Data;
                  console.log("res table:",this.resdata);
              })
              .then(()=>{
                  this.resdata.map((data, key) => {
                      this.data[key]= [data.CoinInfo.FullName, data.DISPLAY.USD.PRICE, "$"+data.RAW.USD.VOLUME24HOUR, "$"+data.RAW.USD.TOTALVOLUME24H, "$"+data.RAW.USD.MKTCAP, data.RAW.USD.CHANGE24HOUR+"%"]
                      console.log("data array:",this.data)
                  })
              })
              .catch(err => {
                  console.log(error)
                  this.errors.push(e)
              })
              .finally(() => this.loading = false)
      }
  };
</script>
<style>
</style>
